h6 {
    text-align: center;
    justify-content: center;
    color: wheat;
    font-size: 12pt;
}

.graph {
    background-color: #2d2d47;
    height : 300px;
    border-radius: 20px;
    padding : 20px;
}