<div class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="createForm" (submit)="createOppurtunity()">
      <h1>Create Oppurtunity</h1>

      <div class="firstName md-form">
        <label htmlFor="firstName">Joining Location</label>
        <input type="text" formControlName="Jlocation" mdbInput mdbValidate />
      </div>
      <div class="lastName md-form">
        <label htmlFor="lastName">Hiring Manager</label>
        <input
          type="text"
          formControlName="HiringManager"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="email md-form">
        <label htmlFor="email">Skills</label>
        <input type="text" formControlName="skill" mdbInput mdbValidate />
      </div>
      <div class="contact_no md-form">
        <label htmlFor="email">Experience (years)</label>
        <input type="number" formControlName="experience" mdbInput mdbValidate />
      </div>

      <div class="address md-form">
        <label htmlFor="email">Department</label>
        <input
          type="text"
          formControlName="Department"
          name="address"
          mdbInput
          mdbValidate
        />
      </div>

      <div class="email md-form">
        <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" />
        <mat-datepicker-toggle [for]="startDate" matPrefix>
        </mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </div>

      <div class="email md-form">
        <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate"/>
        <mat-datepicker-toggle [for]="endDate" matPrefix>
        </mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </div>

      <div class="email md-form">
        <label htmlFor="email">Description</label>
        <input type="text" formControlName="description" mdbInput mdbValidate />
      </div>
      <div class="createAccount">
        <button class="mt-1 waves-light" type="submit">Create Account</button>
      </div>
    </form>
  </div>
</div>
