<div class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="editForm" (submit)="editOppurtunity()">
      <h1>Edit Oppurtunity</h1>

      <div class="firstName md-form">
        <label htmlFor="firstName">Joining Location</label>
        <input
          type="text"
          formControlName="Jlocation"
          placeholder="{{ currentOppurtunity.location }}"
          defualtValue="dcdsc"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="lastName md-form">
        <label htmlFor="lastName">Hiring Manager</label>
        <input
          type="text"
          formControlName="HiringManager"
          placeholder="{{ currentOppurtunity.hiringManager }}"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="email md-form">
        <label htmlFor="email">Skills</label>
        <input
          type="text"
          formControlName="skill"
          placeholder="{{ currentOppurtunity.skill }}"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="contact_no md-form">
        <label htmlFor="email">Experience</label>
        <input
          type="number"
          formControlName="experience"
          placeholder="{{ currentOppurtunity.experience }}"
          mdbInput
          mdbValidate
        />
      </div>

      <div class="address md-form">
        <label htmlFor="email">Department</label>
        <input
          type="text"
          formControlName="Department"
          placeholder="{{ currentOppurtunity.department }}"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="email md-form">
        <input
          matInput
          [matDatepicker]="startDate"
          placeholder="Start Date"
          [min]="mindate"
        />
        <mat-datepicker-toggle [for]="startDate" matPrefix>
        </mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </div>

      <div class="email md-form">
        <input
          matInput
          [matDatepicker]="endDate"
          placeholder="End Date"
          [min]="mindate"
        />
        <mat-datepicker-toggle [for]="endDate" matPrefix>
        </mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </div>
      <div class="email md-form">
        <label htmlFor="email">Description</label>
        <input
          type="text"
          formControlName="description"
          placeholder="{{ currentOppurtunity.description }}"
          mdbInput
          mdbValidate
        />
      </div>
      <div class="createAccount">
        <button class="mt-1 waves-light" type="submit">Edit Account</button>
      </div>
    </form>
  </div>
</div>
